table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 15px;
  }

  th {
    text-align: left;
  }

  table {
    border-spacing: 5px;
    width: 100%;
    background-color: rgb(211, 198, 198);
  }

  #baryte{
    width: 100px  ;
  }









  #brDiv{
    height:150px;
  }